.unsupportedText {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    text-align: center;
    width: 100%;
    font-size: 3vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    -webkit-text-stroke: 0.1vw black;
    color: #FFE1E1;
}

/* Mobile Landscape */
@media only screen and (max-width: 920px) and (max-height: 500px) {
    .main {
        background-image: url("../images/horizontal-phone-overlay.png");
        background-size: cover;
        background-position: center 95%;
        z-index: 99;
    }

    .main > * {
        display: none !important;
    }

    .unsupportedText {
        display: block !important;
    }
}
